backports.entry-points-selectable==1.1.1
cx-Freeze==6.9
cx-Logging==3.0
distlib==0.3.4
filelock==3.4.0
importlib-metadata==4.10.0
mysql-connector-python==8.0.27
Pillow>=8.4.0
platformdirs==2.4.0
protobuf>=3.19.1
python-dotenv==0.19.2
reportlab==3.6.2
six==1.16.0
Tcl==0.2
tk==0.1.0
virtualenv==20.10.0
zipp==3.6.0
